<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">What to do?</h5>
      <p class="card-text">{{response}}</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <a href="/selfchecker/bookapptform" class="card-link">
        <i class="fas fa-arrow-right"></i>
            Book a slot to get tested
        </a>
        <a href="/community/feedback" class="card-link">
        <i class="fas fa-comment"></i>
            Provide feedback
        </a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">To avoid getting or spreading COVID-19:</h5>
      <p class="card-text">
        <ul>
            <li>Keep at least 1 meter from others, and especially from seniors and the unwell</li>
            <li>Limit social contact to household members</li>
            <li>Wear a mask when you go out</li>
            <li>Frequently wash your hands with soap and water</li>
            <li>Come back to this checker should new symptoms develop or your existing symptoms worsen</li>
            <li>Avoid changing your doctor. If your condition changes he or she can monitor you better and arrange the best care for you</li>
            <li>For further information on COVID-19, refer frequently to <a href="https://www.gov.sg/">www.gov.sg</a></li>
        </ul> 
        <p>Source: https://sgcovidcheck.gov.sg/</p>
      </p>
    </div>
  </div>
</div>