<div class="container">
    <div class="mb-5">
        <h1 class="diplay-3">Contact Us</h1>
    </div>
    <div>
        <p class="lead"><strong>Our Email: &nbsp;&nbsp;</strong>project0test@gmail.com</p>
        <p class="lead"><strong>Our Contact Number: &nbsp;&nbsp;</strong>12345678</p>
    </div>
    <div>
        <p>Or click <a href="/email">here</a> to let us generate the mail for you</p>
    </div>
</div>