<div class="text-center">
    <h4>Thank you for supporting us!</h4>
    <img src="https://tenor.com/view/the-office-bow-michael-scott-steve-carell-office-gif-12985913.gif" width="500px" height="350px" alt=":D">
</div>